h1 {
  text-align: center;
  margin-bottom: 40px;
}
.userName {
  background-color: #3f51b5;
  color: white;
  padding: 2px 4px;
  border-radius: 2px;
}
div {
  display: flex;
}
.movie-grid {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 20px;
  padding: 40px;
  margin: 20px;
}
.heart-icon {
  flex-grow: 6;
  text-align: end;
}
